openapi: 3.0.3
info:
  title: Dog API - OpenAPI 3.0
  description: |-
    API to retrieve images of dogs. It's also possible to obtain a tree of breeds and sub-breeds of dogs.    
  contact:
    email: rauber@gmail.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.1
externalDocs:
  description: Dog API
  url: https://dog.ceo/dog-api/
servers:
  - url: https://dog.ceo/api
tags:
  - name: all
    description: General Dog API Endpoints
    externalDocs:
      description: Find out more
      url: https://dog.ceo/dog-api/documentation
  - name: by-breed
    description: Dog API Endpoints by Breed
    externalDocs:
      description: Find out more
      url: https://dog.ceo/dog-api/documentation/breed
  - name: by-sub-breed
    description: Dog API Endpoints by Breed and Sub-breed
    externalDocs:
      description: Find out more
      url: https://dog.ceo/dog-api/documentation/sub-breed
paths:
  /breeds/list/all:
    get:
      tags:
        - all
      summary: List all breeds
      description: Lists all dog breeds and sub-breeds registered.
      operationId: getAllBreedsAndSubBreeds
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: array
                    items:
                      type: object
                      description: Breed
                      items:
                        type: array
                        description: Sub-breed
                  status:
                    type: string
                    description: Status description

  /breeds/image/random:
    get:
      tags:
        - all
      summary: Get a random image.
      description: Returns a single random image from all dogs registered.
      operationId: getOneRandomImage
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: array
                    items:
                      type: string
                      description: Image URL
                  status:
                    type: string
                    description: Status description

  /breeds/image/random/{qty}:
    get:
      tags:
        - all
      summary: Get multiple random images.
      description: Returns multiple random images from all dogs registered.
      operationId: getManyRandomImages
      parameters:
        - name: qty 
          in: path
          required: true
          schema: 
            type: integer
            example: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: array
                    items:
                      type: string
                      description: Image URL
                  status:
                    type: string
                    description: Status description

  /breed/{breed}/list:
    get:
      tags:
        - by-breed
      summary: List sub-breeds from a breed 
      description: Returns all the sub-breeds registered of a dog breed.
      operationId: getAllSubBreeds
      parameters:
        - name: breed 
          in: path
          required: true
          schema: 
            type: string
            example: hound
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: array
                    items:
                      type: string
                      description: Sub-breed
                  status:
                    type: string
                    description: Request status description

  /breed/{breed}/images:
    get:
      tags:
        - by-breed
      summary: Images from a breed
      description: Returns all the images from a dog breed.
      operationId: getAllBreedImages
      parameters:
        - name: breed 
          in: path
          required: true
          schema: 
            type: string
            example: hound
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: array
                    items:
                      type: string
                      description: Image URL
                  status:
                    type: string
                    description: Status description

  /breed/{breed}/{sub_breed}/images:
    get:
      tags:
        - by-sub-breed
      summary: Images from a sub-breed
      description: Returns all the images from a dog sub-breed.
      operationId: getAllSubBreedImages
      parameters:
        - name: breed 
          in: path
          required: true
          schema: 
            type: string
            example: hound
        - name: sub_breed 
          in: path
          required: true
          schema: 
            type: string
            example: afghan
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string

  /breed/{breed}/images/random:
    get:
      tags:
        - by-breed
      summary: Random image from a breed
      description: Returns a single random image of a specific dog breed.
      operationId: getOneBreedRandomImage
      parameters:
        - name: breed 
          in: path
          required: true
          schema: 
            type: string
            example: hound
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: array
                    items:
                      type: string
                      description: Image URL
                  status:
                    type: string
                    description: Status description

  /breed/{breed}/images/random/{qty}:
    get:
      tags:
        - by-breed
      summary: Multiple random images from a breed
      description: Returns multiple random images of a specific dog breed.
      operationId: getManyBreedRandomImages
      parameters:
        - name: breed 
          in: path
          required: true
          schema: 
            type: string
            example: hound
        - name: qty 
          in: path
          required: true
          schema: 
            type: integer
            example: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: array
                    items:
                      type: string
                      description: Image URL
                  status:
                    type: string
                    description: Status description

  /breed/{breed}/{sub_breed}/images/random:
    get:
      tags:
        - by-sub-breed
      summary: Random image from a sub-breed
      description: Returns a single random image of a dog sub-breed.
      operationId: getOneSubBreedRandomImage
      parameters:
        - name: breed 
          in: path
          required: true
          schema: 
            type: string
            example: hound
        - name: sub_breed 
          in: path
          required: true
          schema: 
            type: string
            example: afghan
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: array
                    items:
                      type: string
                      description: Image URL
                  status:
                    type: string
                    description: Status description

  /breed/{breed}/{sub_breed}/images/random/{qty}:
    get:
      tags:
        - by-sub-breed
      summary: Multiple random images from a sub-breed
      description: Return multiple random images of a dog sub-breed.
      operationId: getManySubBreedRandomImages
      parameters:
        - name: breed 
          in: path
          required: true
          schema: 
            type: string
            example: hound
        - name: sub_breed 
          in: path
          required: true
          schema: 
            type: string
            example: afghan
        - name: qty 
          in: path
          required: true
          schema: 
            type: integer
            example: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: array
                    items:
                      type: string
                      description: Image URL
                  status:
                    type: string
                    description: Status description
